@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0; 
}

html, body{
  font-size: 24px;
}

.App{
  min-height: 100vh;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-principal{
  padding: 0px;
}

.contenedor-principal-grafica{
  /*height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;*/
  padding: 10px;
  margin: 2px;
}